.github/
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
*.txt
*.vsix
**/.eslintrc.json
**/*.map
**/*.map
**/*.ts
**/tsconfig.json
**/.editorconfig.json
**/.eslintrc.json
**/.prettierrc

package-lock.json
out/**
src/**
vsc-extension-quickstart.md
